<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>forget password</title>
    <link rel="stylesheet" href="/css/forgetPassword.css" />
  </head>
  <body>
    <div class="container">
      <h1>Forgot Password</h1>
      <% if (locals && locals.userEmail && locals.resetPassword) { %>
      <div class="form-step" id="step3">
        <p>Enter your new password.</p>
        <form id="resetPasswordForm" method="post" action="/user/resetPassword">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
            value="<%= userEmail %>"
            required
          />
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            placeholder="Enter new password"
            required
          />
          <button type="submit">Reset Password</button>
        </form>
      </div>

      <% } else if (locals && locals.userEmail && locals.verifyOtp ) { %>
      <div class="form-step" id="step2">
        <p>Enter the OTP sent to your email.</p>
        <form id="verifyOtpForm" method="post" action="/user/verifyOtp">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
            value="<%= userEmail %>"
            required
          />
          <input
            type="text"
            id="otp"
            name="otp"
            placeholder="Enter OTP"
            required
          />
          <button type="submit">Verify OTP</button>
        </form>
      </div>
      <% } else { %>
      <div class="form-step">
        <p>Enter your email address to receive an OTP.</p>
        <form id="requestOtpForm" method="post" action="/user/forgetPassword">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
            required
          />
          <button type="submit">Send OTP</button>
        </form>
      </div>
      <% } %>
    </div>
    <% if (locals.sms) { %>
    <div class="alert-sms" id="alert-sms"><%= locals.sms %></div>
    <% } %>
    <script src="/js/forgetPassword.js"></script>
  </body>
</html>
