<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign-up page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/signin.css" />
  </head>

  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form method="post" action="/user/login" class="form-container">
      <h3>Login Here</h3>

      <label for="username">Username</label>
      <input
        type="text"
        name="email"
        id="username"
        placeholder="Email or Phone"
        aria-label="Username"
        required
      />

      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        aria-label="Password"
        required
      />

      <button type="submit">Log In</button>
      <p class="loginWith">login with</p>
      <div class="social">
        <div class="go">
          <i class="fab fa-google"></i><a href="/user/auth/google">Google</a>
        </div>
        <div class="gh">
          <i class="fab fa-github"></i> <a href="/user/auth/github">GitHub</a>
        </div>
      </div>
      <div class="signupInfo">
        <p>Don’t have an account? <a href="/signup">Sign up</a></p>
        <p><a href="/forgotPassword">Forgot password?</a></p>
      </div>
    </form>
    <% if (locals.sms) { %>
    <div class="alert-sms" id="alert-sms"><%= locals.sms %></div>
    <% } %>
    <script src="/js/signin.js"></script>
  </body>
</html>
