body {
  width: 100%;
}
.home {
  margin: 130px 0 40px 0;
  position: relative;
}

.home h1 {
  position: absolute;
  top: -140px;
  width: 100%;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  color: #0c0102;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.home section {
  padding-top: 1px;
  text-align: center;
}

.home h2 {
  padding-bottom: 28px;
  font-size: 28px;
  font-weight: 300;
}

.home .button {
  padding: 13px 45px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  background: #d83f45;
}

.home a.button {
  text-decoration: none;
}

.info {
  /* width: 100%; */
  /* padding: 40px; */
  margin: 30px auto;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.logout {
  color: red;
}

.alert-sms {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: fixed;
  top: 10px;
  transform: translateX(-50%);
  background-color: #bcf488;
  color: #721c24;
  padding: 10px 20px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  z-index: 1000;
}
.alert-sms.visible {
  opacity: 1;
  transform: translateY(0);
}